import os

dataset_path = "/home/mushfiqul/Mushfiqul/CSE/Thesis2.0/real-time-action-recognition-from-video-footage/dataset"
slap_path = os.path.join(dataset_path, "slap/")
punch_path = os.path.join(dataset_path, "punch/")
kick_path = os.path.join(dataset_path, "kick/")

val_dataset_ratio = 0.1
test_dataset_ratio = 0.4
